body > #root {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
}

.edit-section {
    flex: 1;
    overflow-y: auto;
}

.cv-section {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.input-section {
    margin: 80px;
}

.input-component > * {
    width: 100%;
}

