:root {
    --spacing: 20px;
    box-sizing: border-box;
}

body > #root {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
}

.edit-section {
    flex: 1;
    overflow: auto;
}

.cv-section {
    flex: 2;

    display: flex;
    padding: 40px 40px;
    overflow: auto;
}

.cv-body {
    margin: auto;
    width: 600px;
    min-width: 600px;
    height: 849px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    color: black;
}

.cv-body h1 {
    font-size: 2em;
}

.personal-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing);
    padding-top: 20px;
    padding-bottom: 20px;
}

.personal-details h1 {
    margin: 0;
}

.personal-details p {
    margin: 0;
    width: calc(100%);
    text-align: center;
}

.input-section {
    margin: 80px;
}

.input-component > * {
    width: 100%;
}

.separator {
    border-bottom: 1px solid black;
    width: calc(100% - 120px);
}
